.billing-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.checkout {
  display: flex;
  max-width: 420px;
  flex-direction: column;

  p {
    margin: 10px 0 20px 0;
  }

  .cardElement {
    margin: 0 0 20px 0;
  }

  .submit-btn {
  }
}
