body {
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: lightgray;
  text-align: center;
  background-color: #1a1d21;
}



.rbc-month-view {
    position: relative;
    border: none !important;
    /* border: 1px solid #DDD; */
    box-shadow: 0 5px 43px grey !important;
    background: black;
    margin: 0 auto;
    box-shadow: 0, 0, 20px, black;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 0px 40px black;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 0 0px;
    flex: 1 0;
    max-width: 900px;
    width: 80% !important;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    height: 90%;
}

.rbc-addons-dnd.rbc-calendar {
  height: 81vh !important;
}

.rbc-header {
  border-bottom: 0 !important;
  border-left: 0 !important;
  margin: 2px;
}

.rbc-row-bg {
  display: -ms-flexbox;
  display: flex;
  padding: 0 2px;
  margin: 20px 0;
  border: none !important;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex: 1 0 0px;
  flex: 1 0;
  overflow: hidden;
}

.rbc-day-bg {
  -ms-flex: 1 0 0%;
  flex: 1 0;
  color: white;
  margin: 1px;
  /* box-shadow: 0px 0px 10px darkgrey; */
  background-image: linear-gradient(black, #000033);
  /* linear-gradient(blue, black): ; */
  /* border-radius: 4px; */
  /* background: grey; */
}

/* .rbc-day-bg:hover {
  background-image: linear-gradient(black, green);
} */

.rbc-off-range-bg {
  background-image: linear-gradient(black, #37015b) !important;
}

.rbc-row-bg {
  display: -ms-flexbox;
  display: flex;
  padding: 0 2px;
  margin: 20px 0;
  border: none !important;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex: 1 0 0px;
  flex: 1 0;
  overflow: hidden;
}

.rbc-row-bg {
  display: -ms-flexbox;
  display: flex;
  padding: 0 2px;
  margin: 20px 0;
  border: none !important;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex: 1 0 0px;
  flex: 1 0;
  overflow: hidden;
}

.rbc-month-row + .rbc-month-row {
  /* border-top: 1px solid #DDD; */
  border-top: none !important;
}

.rbc-today {
  background-color: #eaf6ff;
  background-image: linear-gradient(black, white)!important;
}

.rbc-event {
  padding: 21px 5px 5px 5px !important;
  box-shadow: 0px 0px 20px black;
  background-image: linear-gradient( black, darkred);
  /* background-color: #3174ad; */
  color: #fff;
  margin: 0 5px;
  padding-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0 !important;
}

.rbc-day-bg + .rbc-day-bg {
  border: none !important;
}

.rbc-event {
  padding: 2px 5px;
  border-radius: 5px;
  background-image: linear-gradient( black, darkred) !important;
  color: #fff;
  background-color: rgba(0, 0, 255, 0) !important;
  cursor: pointer;
}