.outer-container {
  background-image: radial-gradient(black, #000033);
  min-height: 100vh;
}
.outer-container .container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.outer-container .container .progress-records {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 7px 0;
  background-image: radial-gradient(#cccccc, black);
  min-height: 500px;
  height: 100%;
}
.outer-container .blocked {
  color: #cc0000;
}
