.outer-container {
  background-image: radial-gradient(black, #000033);
}
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.progress-data {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.progress-records {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 7px 0;
  background-image: radial-gradient(#CCCCCC, black);
}
