.outer-container {
  background: radial-gradient(black, @secondary);
  min-height: 100vh;

  .container {
    box-sizing: border-box;
    .center();
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;

    .progress-records {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      padding: 7px 0;
      background: radial-gradient(@grey, black);
      min-height: 500px;
      height: 100%;
    }
  }
  .blocked {
    color: @primary;
  }
}
