// TODO: Remove variables once they exist in a separate variables file
@primary: #cc0000;
@secondary: #000033;
@white: white;
@darkGrey: #666666;
@grey: #cccccc;

.card-container {
  min-width: 200px;
  width: 22.5%;
  margin: 12px;

  .card {
    border: none;
    border-radius: none;
    box-shadow: 5px 5px 15px black;

    .card-header {
      display: flex;
      justify-content: space-between;
      padding: 0;
      color: @grey;
      background-image: linear-gradient(to right, black, @grey);

      .card-date {
        display: inline-block;
        align-self: flex-start;
        font-weight: bold;
        margin: 5px 0 0 4px;
      }

      .btn-container {
        display: flex;
        justify-content: flex-end;

        .icon-btn {
          margin: 6px;

          .icon {
            color: black;
          }
        }
      }
    }

    .card-body {
      background-image: radial-gradient(@primary, black);
      color: @grey;
    }
  }
}
