.progress-tracker {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
  height: 200px;
  min-width: 300px;
  width: 50%;
  margin: 0 0 15px 8px;
  color: #cccccc;
  background-image: radial-gradient(#cc0000, black);
}
.progress-tracker .progress-tracker-title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
}
.progress-tracker .tracker-requirement {
  font-size: 20px;
  color: #cc0000;
  margin-bottom: 10px;
}
.gray {
  background-image: linear-gradient(#666666, black);
}
.progress-box {
  width: 50%;
  margin-top: 10px;
}
.progress-box .number-lost {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
}
.progress-box .disclaimer {
  font-size: 10px;
}
.tracker-border {
  border-right: 1px solid #cccccc;
}
