.modal-container {
  margin: 10px 0;
  background-image: linear-gradient(#666666, black);
}
.modal-container .add-progress-btn {
  background-image: linear-gradient(#666666, black);
  color: #cccccc;
  border: none;
  margin-bottom: 5px;
}
.modal-container .add-progress-btn:hover {
  color: white;
  cursor: pointer;
}
.modal-content {
  width: 80%;
}
.modal-content .modal-header {
  background-image: linear-gradient(#666666, black);
  color: white;
}
.modal-content .modal-body {
  background-image: linear-gradient(#000033, black) !important;
}
.modal-content .modal-footer {
  background-image: linear-gradient(#666666, black);
}
.modal-content .modal-footer .cancel-btn {
  background-image: linear-gradient(#cc0000, black) !important;
}
.modal-content .modal-footer .cancel-btn:hover {
  cursor: pointer;
}
.modal-content .modal-footer .submit-btn {
  background-image: linear-gradient(#000033, black) !important;
}
.modal-content .modal-footer .submit-btn:hover {
  cursor: pointer;
}
.error {
  background-image: linear-gradient(#000033, black);
  font-size: 16px;
  color: red;
  padding-left: 15px;
}
.progressForm {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #cccccc;
}
.progressForm .label-input {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 0 50px;
}
.progressForm .label-input input {
  background-color: #cccccc;
  width: 30%;
}
