.card-container {
    min-width: 200px;
    width: 20%;
    margin: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.card-date {
    display: inline-block;
    align-self: flex-start;
    font-weight: bold;
    margin: 5px 0 0 4px;

}

.icon-btn {
    margin: 6px;
}