// TODO: Remove variables once they exist in a separate variables file
@primary: #CC0000;
@secondary: #000033;
@white: white;
@darkGrey: #666666;
@grey: #CCCCCC;

.outer-container {
    background-image: radial-gradient(black, @secondary);
    
    .container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;

        .progress-records {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start; 
            width: 100%;
            padding: 7px 0;
            background-image: radial-gradient(@grey, black);
        }
    }
}



