.settings-outer {
  background: radial-gradient(black, @secondary);
  min-height: 100vh;

  .settings-container {
    box-sizing: border-box;
    .center();
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;

    .emailForm {
      .center();
      margin: 20px 0 25px 0;
    }

    .settings-input {
      border-radius: 0;
      background: @grey;
      box-shadow: 1px 1px 7px black;
    }

    .passwordForm {
      .center();
      margin: 25px 0 20px 0;
    }
  }
}
