.settings-outer {
  background: radial-gradient(black, #000033);
  min-height: 100vh;
}
.settings-outer .settings-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.settings-outer .settings-container .forms-container {
  display: flex;
  width: 300px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#666666, black);
}
.settings-outer .settings-container .single-form-container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  background: linear-gradient(black, white);
}
.settings-outer .settings-container .single-form-container .emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 25px 0;
}
.settings-outer .settings-container .single-form-container .settings-input {
  border-radius: 0;
  background: #cccccc;
  box-shadow: 1px 1px 7px black;
}
.settings-outer .settings-container .single-form-container .submit-btn {
  background: linear-gradient(#cc0000, black);
  border-radius: 0;
  box-shadow: 1px 1px 7px black;
}
.settings-outer .settings-container .single-form-container .passwordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0 20px 0;
}
