.main__workout {
  display: flex;
  width: 100%;
  min-height: 88vh;
  max-height: 88vh;
  color: black;
  background: radial-gradient(#000033, black);
}
.main__workout h2 {
  text-shadow: 3px 3px black;
}
.main__workout button {
  cursor: pointer;
}
.main__workout .routine__list {
  flex-basis: 33%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.main__workout .routine__list .routine__list__container {
  min-height: 90%;
  max-height: 90%;
  overflow: scroll;
  background: radial-gradient(#cc0000, black);
  padding: 15px;
  color: #cccccc;
  width: 90%;
  box-shadow: 5px 5px 15px black;
}
.main__workout .routine__list .routine__list__container h2 {
  font-size: 20px;
  padding: 10px 15px;
}
.main__workout .routine__list .routine__list__container .routine {
  padding: 5px 10px;
  text-align: start;
  padding-left: 30px;
  background: grey;
  font-size: 18px;
  margin: 5px;
  overflow: hidden;
  margin: 11px;
  box-shadow: 10px 8px 15px black;
  text-shadow: 3px 3px black;
  color: white;
  background: linear-gradient(to right, black, darkgrey);
  cursor: pointer;
}
.main__workout .routine__list .routine__list__container .routine:hover {
  background: linear-gradient(to right, black, #260951);
  color: #cccccc;
  text-shadow: 1px 1px #000033;
}
.main__workout .workout__form {
  flex-basis: 33%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.main__workout .workout__form .routine__input__form {
  padding: 30px 15px;
  background: radial-gradient(#260951, black);
  margin: 0 5px;
  min-height: 90%;
  width: 90%;
  margin: 0px 13px;
  box-shadow: 5px 5px 15px black;
}
.main__workout .workout__form .routine__input__form h2 {
  font-size: 20px;
}
.main__workout .workout__form .routine__input__form input {
  margin: 15px 0;
  width: 90%;
  padding: 5px;
  font-weight: bold;
  box-shadow: 10px 8px 15px black;
}
.main__workout .workout__form .routine__input__form button {
  padding: 5px 15px;
  color: white;
  border: none;
  box-shadow: 10px 8px 15px black;
  text-shadow: 3px 3px black;
  background: linear-gradient(to left, #cc0000, black);
}
.main__workout .workout__form .routine__input__form button:hover {
  background: linear-gradient(to left, #666666, black);
}
.main__workout .current__routine {
  flex-basis: 33%;
  min-height: 100%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__workout .current__routine .current__routine__container {
  min-height: 90%;
  max-height: 90%;
  width: 90%;
  background: radial-gradient(#cccccc, black);
  padding: 30px 15px;
  box-shadow: 5px 5px 15px black;
  color: black;
  overflow: scroll;
}
.main__workout .current__routine .current__routine__container h3.current__title {
  color: white;
  text-align: start;
  text-shadow: 3px 3px black;
}
.main__workout .current__routine .current__routine__container .exercise__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  text-shadow: 2px 2px black;
}
.main__workout .current__routine .current__routine__container .exercise__title h3 {
  font-size: 22px;
}
.main__workout .current__routine .current__routine__container h3 {
  font-size: 18px;
  color: #cc0000;
  margin-bottom: 0;
}
.main__workout .current__routine .current__routine__container h2 {
  font-size: 20px;
  color: #cccccc;
}
.main__workout .current__routine .current__routine__container .exercise__list {
  width: 90%;
  margin: 0 auto;
}
.main__workout .current__routine .current__routine__container .exercise__list .exercise__card {
  color: red;
  margin-top: 5px;
  margin-top: 20px;
  box-shadow: 10px 8px 15px black;
  text-shadow: 2px 2px black;
}
.main__workout .current__routine .current__routine__container .exercise__list .exercise__card .exercise__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #cccccc;
  background-image: linear-gradient(to right, black, #cccccc);
}
.main__workout .current__routine .current__routine__container .exercise__list .exercise__card .exercise__card__header h3 {
  margin: 0;
  color: white;
  overflow: scroll;
}
.main__workout .current__routine .current__routine__container .exercise__list .exercise__card .exercise__card__body {
  background-image: radial-gradient(#37015b, black);
  color: #cccccc;
  padding: 40px;
}
.pencil__trash__icon__container {
  display: flex;
  width: 15%;
  justify-content: space-between;
}
.pencil__trash__icon__container .fas.fa-pencil-alt {
  text-shadow: 1px 1px black;
  color: grey;
  cursor: pointer;
}

/* ::-webkit-scrollbar {width: 3px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::-webkit-scrollbar-thumb {background: rgba(0,136,204,0.8);-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(0,136,204,0.4);} */